menu "EdgeBench Configuration"

    config BENCH_ID
        int "Identificador da Bancada (Bench ID)"
        default 1
        range 1 65535
        help
            Identificador numerico univoco desta bancada no chao de fabrica (1 a 65535).

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URL of the broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

endmenu
